black
ruff
mypy
tox
pytest
pytest-snapshot
structlog
pytest-structlog
sphinx
sphinx-rtd-theme
line_profiler
memory_profiler
numpy
scipy
statsmodels
openpyxl
matplotlib
pandas[performance, plot, computation, excel]
polars-lts-cpu
ibis-framework[pandas, polars]
japanize-matplotlib
seaborn
fastcluster
statannotations
requests
scikit-learn
jupyterlab
ipywidgets
ipympl
streamlit
pygwalker
